extends /layouts/base

block base
	#content-wrapper
		section.section
			.container
				nav.level
					.level-left
						.level-item
							h1=title

						if(badge)
							.level-item
								span.tag.is-primary.is-large=badge

					.level-right
						block level

				include /includes/flash
				block content

	site-footer(title=process.env.APP_NAME, platform-version=version)